body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    background: hsl(225, 100%, 94%);
}

.container {
    width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    background: white
}

.img {
    border-radius: 2em;
}

.info {
    text-align: center;
}

.heading {
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}

.details {
    padding: 0 4em;
    color: hsl(224, 23%, 55%);
}

.card-details {
    display: flex;
    align-items: center;
    width: 75%;
    justify-content: space-around;
    background: hsl(225, 100%, 98%);
    border-radius: 1em;
}

.plan-details :first-child {
    margin-bottom: 0px;
    font-size: small;
    font-weight: 700;
    color: hsl(223, 47%, 23%);
}

.plan-details :last-child {
    margin-top: 0px;
    font-size: small;
    font-weight: 500;
    color: hsl(224, 23%, 55%);
}

a {
    font-weight: 500;
    color: hsl(245, 75%, 52%);
}

button {
    margin: 2em 0 0 0;
    width: 75%;
    padding: 1em;
    border-color: transparent;
    border-radius: 1em;
    font-weight: 700;
}

.proceed {
    background: hsl(245, 75%, 52%);
    color: hsl(225, 100%, 98%);
    box-shadow: 0px 8px 15px rgba(26, 17, 120, 0.5);
}

.cancel {
    background: transparent;
    color: hsl(224, 23%, 55%);
    margin: 1em 0 1em 0;
}

.cancel:hover {
    color: hsl(223, 47%, 23%);
}

.proceed:hover {
    background: rgba(70, 70, 200);
}

.proceed:active {
    box-shadow: 0px 8px 15px rgba(26, 17, 120, 0.1);
}

a:hover {
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}